.icon-wrapper {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: solid 5px white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 50px;
}

.icon-caption {
  padding-top: 20px;
  text-align: center;
  width: 100%;
  color: white;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
}
