.icon-wrapper {
  text-align: center;
  border-radius: 50%;
  border: solid 5px white;
  width: 180px;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
}


.icon-wrapper img {
  height: 165px;
  width: auto;
}

.repeat-icon {
  padding: 2%;
}

.icon-caption {
  padding-top: 20px;
  text-align: center;
  width: 100%;
  color: white;
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 900px) {
  .icon-wrapper {
    width: 100px;
    height: 100px;
  }

  .icon-wrapper img {
    height: 90px;
  }

  .icon-caption {
    font-size: .75em;
  }
}

@media (max-width: 600px) {

}
