.series-container {
  padding-left: 2%;
  padding-right: 2%;
}

.banner {
  width: 100%;
  height:auto;
}

.book-banner {
  margin: 0 auto;
  width: 40%;
  height:auto;
}


.description-container {
  font-size: 1.2em;
  text-align:justify;
  font-family: 'Roboto', sans-serif;
}


.top-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.title {
  font-family: 'PT Serif', serif;
}

.image-title {
  position: absolute;
  text-transform: uppercase;
  bottom: 10px;
  left: 20px;
  color: white;
  font-size: 2em;
}

.image-title-wrapper {
  position: relative;
  padding-right: 0;
  margin-bottom: 30px;
}

.book-image-title-wrapper {
  text-align: center;
}

.card-component-wrapper {
  background-color: #4CAF50;
}

.description-title {
  margin-top: 0;
}

@media (min-width: 1280px) {

  .image-title {
    font-size: 3em;
  }
  .image-title-wrapper {
    position: relative;
    padding-right: 20px;
  }

  .book-banner {
    width: 35%;
  }

}

.icons-container {
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  padding-top: 20px;
}
