<nav [class.scrolled]="isScrolled">
  <span class="title">Danielle Dumais</span>
  <ul class="topbar">
    <li><a [routerLink]="['/auteur']" routerLinkActive="active">Auteur</a></li>
    <li><a [routerLink]="['/series/cinqDenier']" routerLinkActive="active">Les 5 derniers dragons</a></li>
    <li><a [routerLink]="['/series/ordreDragon']" routerLinkActive="active">L’Ordre des 5 Dragons</a></li>
    <li><a [routerLink]="['/series/salsa']" routerLinkActive="active">Sortilèges, salsa et compagnie</a></li>
    <li><a [routerLink]="['/series/jeuxpouvoir']" routerLinkActive="active">Les Jeux du pouvoir</a></li>
    <li><a [routerLink]="['/series/detective']" routerLinkActive="active">L’Ame d’une détective</a></li>
  </ul>
  <div class="hamburger-wrapper" (click)="sidenav.toggle()">
    <span class="fa fa-2x fa-bars"></span>
  </div>
</nav>
<div class="nav-padding"></div>
<md-sidenav-container>
  <md-sidenav #sidenav mode="over" opened="false">
    <ul class="bottombar">
      <li><a [routerLink]="['/auteur']" routerLinkActive="active">Auteur</a></li>
      <li><a [routerLink]="['/series/cinqDenier']" routerLinkActive="active">Les 5 derniers dragons</a></li>
      <li><a [routerLink]="['/series/ordreDragon']" routerLinkActive="active">L’Ordre des 5 Dragons</a></li>
      <li><a [routerLink]="['/series/salsa']" routerLinkActive="active">Sortilèges, salsa et compagnie</a></li>
      <li><a [routerLink]="['/series/jeuxpouvoir']" routerLinkActive="active">Les Jeux du pouvoir</a></li>
      <li><a [routerLink]="['/series/detective']" routerLinkActive="active">L’Ame d’une détective</a></li>
    </ul>
  </md-sidenav>
  <router-outlet></router-outlet>
  <footer class="main-footer">
    <div class="footer-title"><h2>Contacts et réseaux sociaux</h2></div>
    <div class="social-medias">
      <a href="https://www.facebook.com/danielle.dumais1">
        <span class="fa fa-facebook-official fa-3x"></span>
      </a>
    </div>
    <div class="rights">© 2017 Danielle Dumais. All rights reserved.</div>
  </footer>
</md-sidenav-container>

